<div class="container">
  <div class="row">
    <div class="col align-items-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Complete Register</h5>
          <form class="row" [formGroup]="User_register" (ngSubmit)="postCompleteRegister(User_register.value)">
            <form formGroupName="personModel">
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName='name'>
              </div>
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                  formControlName='lastname'>
              </div>
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="cardId" placeholder="Card ID" formControlName='cardId'>
              </div>
              <div class="col-12" style="margin: 5px;">
                <input type="date" class="form-control" id="dateBirth" placeholder="Date Birth"
                  formControlName='dateBirth'>
              </div>              
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="profession" placeholder="Profession"
                  formControlName='profession'>
              </div>
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="countries" placeholder="Countries"
                  formControlName='countries'>
              </div>
              <div class="col-12" style="margin: 5px;">
                <input type="text" class="form-control" id="city" placeholder="City" formControlName='city'>
              </div>
            </form>
            <form formGroupName="rolModel">
              <div class="col-12 form-group" style="margin: 5px;">
                <select class="form-control" id="exampleFormControlSelect1" formControlName='rol'>
                  <option>user</option>
                  <option>doctor</option>
                </select>
              </div>
            </form>
            <br>
            <div class="col-6 form-group" style="margin: 5px;">
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>